# IntelliJ stuff
/.idea/
capitalize-takehome.iml
# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# dependencies
/node_modules/
# Output data
/part-1/companies.csv
